---
headerbg: https://i.imgur.com/SHu5AXH.png
---

<x-main>
  <div class="sm:px-4 font-sans">
    <table class="" align="center">
      <tr>
        <td class="w-[552px] max-w-full bg-slate-950 bg-gradient-to-r from-cyan-500 to-blue-500">
          <div
            style="background-image: url('{{{ page.headerbg }}}'); background-size: contain; background-repeat: no-repeat; background-position: right;"
            class="px-12 sm:px-6 my-0 sm:my-0 text-left">
            <a href="https://chanceuxinc.com">
              <img class="w-56" src="images/chanceux.png" width="70" alt="Maizzle">
            </a>
          </div>

          <table class="w-full">
            <tr>
              <td class="p-12 sm:px-6 text-base text-slate-700 shadow-sm">
                <h1 class="m-0 mb-6 text-2xl sm:leading-8 text-white font-semibold">
                  Hello Shreekanth,
                </h1>

                <p class="m-0 leading-6">
                  Is it you we're looking for?
                  <br>
                  <br>
                  Please confirm your email address by clicking the button below:
                </p>
              </td>
            </tr>
            <tr>
              <td class="px-12 sm:px-6">
                <p class="font-semibold  text-xl">
                  Case studies
                </p>
                <x-casestudy imgSrc="https://i.imgur.com/poyVNiA.jpg">
                  <fill:title>
                    <h2 class="text-slate-600 px-12 sm:px-2">This is the title</h2>
                  </fill:title>

                  <fill:content>
                    <p class="text-slate-600 px-12 sm:px-2">Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.Duis aute irure
                      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                      sint occaecat cupidatat.</p>
                  </fill:content>


                  <fill:cta class="px-12 sm:px-2">
                    <x-button href="https://maizzle.com">
                      Know more
                    </x-button>
                  </fill:cta>
                </x-casestudy>
                <x-casestudy imgSrc="https://i.imgur.com/poyVNiA.jpg">
                  <fill:title>
                    <h2 class="text-slate-600 px-12 sm:px-2">This is the title</h2>
                  </fill:title>

                  <fill:content>
                    <p class="text-slate-600 px-12 sm:px-2">Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.Duis aute irure
                      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                      sint occaecat cupidatat.</p>
                  </fill:content>


                  <fill:cta class="px-12 sm:px-2">
                    <x-button href="https://maizzle.com">
                      Know more
                    </x-button>
                  </fill:cta>
                </x-casestudy>
                <x-casestudy imgSrc="https://i.imgur.com/poyVNiA.jpg">
                  <fill:title>
                    <h2 class="text-slate-600 px-12 sm:px-2">This is the title</h2>
                  </fill:title>

                  <fill:content>
                    <p class="text-slate-600 px-12 sm:px-2">Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.Duis aute irure
                      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                      sint occaecat cupidatat.</p>
                  </fill:content>


                  <fill:cta class="px-12 sm:px-2">
                    <x-button href="https://maizzle.com">
                      Know more
                    </x-button>
                  </fill:cta>
                </x-casestudy>
              </td>

            </tr>
            <tr>
              <td class="px-12 sm:px-6 text-base text-slate-700 shadow-sm">
                <x-spacer height="24px" />

                <x-divider space-y="32px" class="bg-slate-200" />

                <p class="m-0">
                  <br>
                  Thanks, <br />Chanceux Team
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center text-slate-600 text-xs px-6">
                <p class="cursor-default">
                  <a href="https://maizzle.com/docs/"
                    class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]">LinkedIn</a>
                  &bull;
                  <a href="https://twitter.com/maizzlejs"
                    class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]">Twitter</a>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>